@model HTLCareerPortal.tbl_SignUp

@{
    ViewBag.Title = "Updatepassword";
}
<div class="container">
    <h2>Update Your Password</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.Label("Enter Your Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Your Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class=" control-label col-md-2">
                    <label for="New-pass">Enter New Password</label>
                </div>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="New_pass" name="New_pass" placeholder="Enter New Password" />
                </div>
            </div>
            <div class="form-group">
                <div class=" control-label col-md-2">
                    <label for="re-pass">Re-Type Your Password</label>
                </div>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="re_pass" name="re_pass" placeholder="Re-Type New Password" />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="UPDATE" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "AccountDetail")
    </div>


</div>