
@{
    ViewBag.Title = "UpdateProfile";
}
<div class="container">
    <div class="Col-md-12">
        <div class="Top-Heading">
            <h1 class="text-center">UPDATE YOUR<span> PROFILE</span> NICELY !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-type3">
                <ul>
                    <li data-aos="fade-right"><a href="@Url.Action("ResumeInfo","UpdateProfile")">Update Your Latest CV / Resume <img class="UP-image img-responsive" src="~/img/Cv.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-left"><a href="@Url.Action("PersonalDetail","UpdateProfile")">Update Personel Detail <img class="UP-image img-responsive" src="~/img/PD.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-right"><a href="@Url.Action("CareerObjective","UpdateProfile")">Update Career Objective<img class="UP-image img-responsive" src="~/img/obj.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-left"><a href="@Url.Action("EducationDetail","UpdateProfile")">Update Education Detail<img class="UP-image img-responsive" src="~/img/Edu.png" alt="Image-Here" /> </a></lidata-aos="fade-right">
                    <li data-aos="fade-right"><a href="@Url.Action("ExperienceDetail","UpdateProfile")">Update Experience Detail <img class="UP-image img-responsive" src="~/img/Exp.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-left"><a href="@Url.Action("JobSalaryPreference","UpdateProfile")">Update Job &amp; Salary Preferences <img class="UP-image img-responsive" src="~/img/JSP.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-right"><a href="@Url.Action("ProfessionalReference","UpdateProfile")">Update Your Profesional Reference <img class="UP-image img-responsive" src="~/img/Ref.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-left"><a href="@Url.Action("GeneralInfo","UpdateProfile")">Update General Information About Yourself <img class="UP-image img-responsive" src="~/img/GI.png" alt="Image-Here" /></a></li>
                    <li data-aos="fade-right"><a href="@Url.Action("ImageInfo","UpdateProfile")">Update Your Profile Picture <img class="UP-image img-responsive" src="~/img/profile.png" alt="Image-Here" /></a></li>
                 </ul>
            </div>
        </div>
    </div>
    @*<div class="row">
    <div class="UP-List">
        <div class="col-md-2">
            <div class="Up-img">
                <a  href="@Url.Action("ImageInfo","UpdateProfile")"><img src="~/img/contacts.png" alt="Image-Here" /></a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="Up-Text">
                <a class="UP-Link" href="@Url.Action("ImageInfo","UpdateProfile")">Update Your Profile Picture </a>
            </div>
        </div>
    </div>
</div>*@
</div>

