<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JOBS", "Index", "Home", new { area = "Applicant" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Update Profile", "UpdateProfile", new { area = "Applicant", Controller = "Home" })</li>
                    <li> @Html.ActionLink("View Profile", "CompleteProfile", new { area = "Applicant", Controller = "Home" })</li>
                    <li> @Html.ActionLink("Applied Jobs", "AppliedJobs",  new { area = "Applicant", Controller = "Home" })</li>
                    <li> @Html.ActionLink("Account Setting", "AccountSetting", new { area = "Applicant", Controller = "Home" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
   
    <footer class="htl-career-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - All Rights Reserved By <span>HI-TECH LUBRICANTS OIL LIMITED</span></p>
                </div>
            </div>
        </div>
    
    </footer>
        @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>