



<div class="row hidden-sm hidden-xs">
    <div class="col-md-12 col-xs-12">
        <div class="steps">
            <ul class="steps-list">
                <li class="step-item"><a href="@Url.Action("ResumeInfo", "UpdateProfile")">Resume<span class="dot">1</span></a></li>
                <li class="step-item"><a href="@Url.Action("PersonalDetail", "UpdateProfile")">Personal Detail<span class="dot">2</span></a></li>
                <li class="step-item"><a href="@Url.Action("CareerObjective", "UpdateProfile")">Career Obj<span class="dot">3</span></a></li>
                <li class="step-item"><a href="@Url.Action("EducationDetail", "UpdateProfile")">Education<span class="dot">4</span></a></li>
                <li class="step-item"><a href="@Url.Action("ExperienceDetail", "UpdateProfile")">Experience Info<span class="dot">5</span></a></li>
                <li class="step-item"><a href="@Url.Action("JobSalaryPreference", "UpdateProfile")">Job Preference<span class="dot">6</span></a></li>
                <li class="step-item"><a href="@Url.Action("ProfessionalReference", "UpdateProfile")">PR<span class="dot">7</span></a></li>
                <li class="step-item"><a href="@Url.Action("GeneralInfo", "UpdateProfile")">General Inforation<span class="dot">8</span></a></li>
                <li class="step-item"><a href="@Url.Action("ImageInfo", "UpdateProfile")">Picture<span class="dot">9</span></a></li>
            </ul>
        </div>
    </div>
</div>
